body{
    margin: 0px;
}

.hidden{
    display: none;
}

.game , .info {
    border: 1px solid black;
}

label{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.input{
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 6px;
    min-width: 150px;
}

.player1-score , .player2-score{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.container{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: aliceblue;
}


.game {
    background-color: rgb(80, 80, 248);
    color: white;
    font-size: 20px;
    text-align: center;
}

.board{
    /* As the size dont' include the border, the chile parent is ok to have 450/3 to just fit the parent*/ 
    width: 450px;
    height: 450px;
    /* to have good alignment when there is some empty buttoon */
    display: flex;
    flex-wrap: wrap;
}

.board button{
    box-sizing: border-box;
    width: calc(450px/3);
    height: calc(450px/3);
    background-color: white;
    font-size: 50px;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons button{
    border-radius: 10px;
    padding: 6px 10px;
    background-color: rgb(2, 147, 220);
    color: white;
}
