body{
    margin: 0px;
}

*{
    border: 1px solid black;
}

.container{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.board{
    box-sizing: border-box;
    width: 450px;
    height: 450px;
}
